<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Crisis Connect</title>
	<link type="text/css" href="/assets/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="/assets/stylesheets/style.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/assets/js/manageGroup.js"></script>
	<script src="/assets/js/signup.js"></script>
	{{!-- <script src="/assets/js/groups.js"></script> --}}
</head>

<body>

	<h1 id="main-title">Crisis Connect</h1>

  
	<a href="/groups">Home</a>
	

	{{{ body }}}

</body>

</html>