<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crisis Connect</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="/assets/stylesheets/style.css" type="text/css" rel="stylesheet">
  //jquery//
  <script src="/assets/js/manageGroup.js"></script>
	</head>
	<body>

 <h1 id="main-title">Crisis Connect</h1>
    
		{{{ body }}}
    
	</body>
</html>