<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title profile-title">{{ title }}</h1>
    </div>

    <!-- start of owner section -->
    <div class="content">
      <div class="card">
        <div class="card-content">
          <h2 class="subtitle">My Profile</h2>

    
              

              <button class="button upload-button" data-upload-target-type="user">Add Group</button>
            </div>

            <!-- name column -->
            <div class="column">
              <form>
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <div class="control" id="nameControl"></div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <button class="button" id="nameBtn">
                          Update Group
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control">
                  <div class="dropdown">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Delete Group</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content" id="userEventsDropdown">
                        {{!-- dropdown goes here --}}
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div> {{!-- end of  column--}}
          </div>
        </div>
      </div>
    </div>

    <div class="card profile-dog-card">
      <div class="card-content">
        <div class="content dog-title-level">
          <h2 class="subtitle dog-title-item" id="dogSubtitle">Members</h2>
          <button class="button dog-title-item" id="addDogBtn">Add Member</button>
        </div>
        <div class="content" id="dogContent">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- new dog modal -->
<div id="newDogModal" class="modal">
  <div class="modal-background" id="classModalBackground"></div>
  <div class="modal-content">
    <div class="box">
      <div class="field">
        <label class="label">Member Name</label>
        <div class="control">
          <input class="input" type="text" id="memberName" required/>
        </div>
      </div>
      <div class="field">
        <label class="label">Member E-mail</label>
      </div>
     