{{> navbar}}
<h1>Crisis Connect</h1>
      
      <nav>
        <div class="responsive">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
          </ul>
      </nav>
    </div>

  <ul class="menu">
   <li class="list"><a href="/addgroup">Add Group</a> 
      <ul class="items">
         <li><a href="#">Group Name</a></li>
         <li><a href="#">Group Admin</a></li>
      </ul>
   </li>
   
   <li class="list"><a href="/members">Members</a> 
      <ul class="items">
         <li> <a href="#" >First Name</a></li>
         <li> <a href="#" >Last Name</a></li>
         <li> <a href="#" >E-mail</a></li>
      </ul>
   </li>

   <li class="list"><a href="/deletegroup">Delete Group</a> 
   </li>

   <li class="list"><a href="/updategroup">Update Group</a> 
   </li>

  <li class="list"><a href="/product">Product</a> 
      <ul class="items">
          <li> <a href="#" >Product Owner</a></li>
         <li> <a href="#" >Product Name</a></li>
         <li> <a href="#" >Product Category</a></li>
         <li> <a href="#" >Product Description</a></li>
         <li> <a href="#" >Quantity In Stock</a></li>
      </ul>
   </li>


   <li class="list"><a href="/logout">Log Out</a> 
   </li>
 

<div class="row">
    <div class="login-dark">

        <form method="post" action="/login">
            <h2 class="sr-only">Login Form</h2>

            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group">
                <input class="form-control"  name="username" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </div>
        </form>

    </div>
</div>

{{> footer}}

  