

<div class="container">
	<div class="row top-30">
    <div class="col-md-2 col-sm-2">
    <a class="btn btn-default" href="/inventories">Go to Inventories</a>
</div>
<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="groups-container">
					<h1>Groups I am following</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Inventory</th>
								<th>Delete Group</th>
							</tr>
						</thead>
						<tbody>
						
							<div class="data-here">
								<p>{{Group}}</p>
								</div>
							<tr id="form-row">
								<tr id="form-row">
								<form id="group-form">
									<td colspan="4">
										<input placeholder="Enter a name" id="group-name" type="text" />
									</td>
									<td><button type="submit" id="submit-btn" class="btn btn-success">Create New Group</button>
									</td>
                                    {{!-- <td colspan="4">
										<input placeholder="Enter email" id="group-invite" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Send Invite!</button>
									</td> --}}
                                <form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
    </div>
</div>
<div>

</div> 