<h1>sandwich is sandwich in spanish</h1>

<button id="clicky">click me</button>

<script>


    function broken() {
        alert('monica!!!!!!!!!!!!!!!!')
    }

    document.querySelector('#clicky').addEventListener('click', broken);
</script>